# ===== Node / Frontend =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
.vite/

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.venv/
venv/
env/

# ===== Environment variables =====
.env
.env.*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
*.swp
